# Môi trường ảo (Virtual Environment)
# Bỏ qua thư mục chứa các thư viện đã cài đặt
.venv/
venv/
env/


.env
*.env


__pycache__/
*.pyc
*.pyo
*.pyd


db.sqlite3
*.log

/media/
/static/


.vscode/
.idea/


.DS_Store # macOS
Thumbs.db # Windows